{% extends "base.html" %}

{% block content %}
<center><video class="player" src="static/video/статодинамика ноги без звука.mp4" controls></video></center>
<center class="text"><h2>режим выполнения упражнений</h2></center>
    <center class="text">все упражнения выполняются в суперсетах по 3 подхода. Один подход длится от 30 до 50 секунд(завершать упражнение нужно после наступления локального “жжения” в рабочих мышечных группах). Все упражнения выполняются в медленном темпе и сокращенной амплитуде(без фазы мышечного расслабления). Время отдыха между подходами 30 секунд, между суперсетами - 5 минут. Всего за тренировку нужно выполнить от 2х до 5 суперсетов.</center>
{% endblock %}